a {
    text-decoration: none;
    color: gray;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: white;
}

#button {
    background-color: #4aaaa5;
    border-style: none;
    padding: 10px;
    color: white;
    width: 100px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

clearfix {
    overflow: auto;
}

#contactMe {
    background-color: white;
    float: right;
    width: 200px;
    height: 150px;
    font-family: 'georgia', Times, Times New Roman, serif;
    font-weight: 600;
    border: darkgrey;
    border-style: outset;
    border-width: 1px;
}

#contactMe
img {
    padding-top: 20px;
    padding-left: 10px;
}

#contactMe,
h1 {
    padding: 10px 30px 10px 30px;
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

footer {
    background-color: #666666;
    padding-top: 26px;
    width: 100%;
    text-align: center;
    margin: auto;
    width: 1080px;
    padding-bottom: 32px;
}

footer h1 {
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: small;
}

form {
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
}

hr {
    border-width: 1px;
    margin: auto;
    border-style: solid;
    width: 450px;
}

#contactMe,
hr {
    margin: auto;
    width: 200px;
    margin-right: 150px;
    margin-top: 10px;
    border-color: darkgrey;
}

#aboutMe hr,
#portfolio hr {
    margin: auto;
    width: 481px;
    border-color: darkgrey;
}

#line hr {
    border-color: #4aaaa5;
    border-width: 3px;
    border-style: solid;
    margin: auto;
    width: 1075px;
}

header {
    background-color: ;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: auto;
    margin-left: 220px;
}

header h1 {
    background-color: #4aaaa5;
    width: 200px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: x-large;
    font-weight: 600;
    margin-top: 20px;
}

input,
textarea {
    padding: 5px;
    margin-bottom: 8px;
    margin-top: 8px;
}

#images {
    
    
}

.gallery > img{
    width: 100%;
    height: 160px;

    
}

.gallery {
    width: 45%;
    height: 150px;
    float: left;
    margin: 25px 10px 0px 15px;
}

.banner {
    background-color: #4aaaa5;
    color: white;
    height: 45px;
    width: 100%;
    position: relative;
    top: -64px;
    line-height: 3em;
    text-align: center;
}

form {
    margin: auto;
}

#button {
    margin-top: 10px;
}

#aboutMe img {
    float: left;
    padding: 15px;
}

nav {
    float: right;
    padding: 30px;
    margin-top: auto;
    margin-right: 280px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 63px;
}

p {
    line-height: 1.5;
    padding-top: 10px;
    padding-left: 10px;
}

#full {
    width: 960px;
    background-image: url(../images/cork-wallet.png);
    height: 500px;
    font-family: 'Georgia', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 120px;
    margin: auto;
}

#portfoliodiv {
    width: 960px;
    background-image: url(../images/cork-wallet.png);
    height: 700px;
    font-family: 'Georgia', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-left: 120px;
    margin: auto;
}

#aboutMe {
    background-color: white;
    width: 500px;
    height: 430px;
    padding: 1px 10px 10px 0px;
    margin: auto;
    margin-top: 40px;
    float: left;
    font-family: 'Georgia', 'Helvetica Neue', Helvetica, sans-serif;
    color: darkgrey;
    border: darkgrey;
    border-style: outset;
    border-width: 1px;
}

#portfolio {
    background-color: white;
    width: 500px;
    height: 600px;
    padding: 1px 10px 10px 0px;
    margin: auto;
    margin-top: 40px;
    float: left;
    font-family: 'Georgia', 'Helvetica Neue', Helvetica, sans-serif;
    color: darkgrey;
    border: darkgrey;
    border-style: outset;
    border-width: 1px;
}

#aboutMe h1,
#portfolio h1 {
    font-size: x-large;
    font-family: 'georgia', Times, Times New Roman, serif;
    font-weight: 600;
    padding: 20px;
}